{% extends 'layout.html' %}

{% block title %}Contactos{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Contactos</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Diogo Rodrigues</h5>
                    <p class="card-text">
                        <strong>Número:</strong> PG54450<br>
                        <strong>Email:</strong> <a href="mailto:pg54450@alunos.uminho.pt">pg54450@alunos.uminho.pt</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Inês Faria</h5>
                    <p class="card-text">
                        <strong>Número:</strong> A95494<br>
                        <strong>Email:</strong> <a href="mailto:a95494@alunos.uminho.pt">a95494@alunos.uminho.pt</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Lia Madurago</h5>
                    <p class="card-text">
                        <strong>Número:</strong> PG53633<br>
                        <strong>Email:</strong> <a href="mailto:pg53633@alunos.uminho.pt">pg53633@alunos.uminho.pt</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24683.029401057287!2d-8.412213727231925!3d41.55984154415027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2478959f1395f%3A0x9b9b2698f4f3bb6c!2sUniversidade%20do%20Minho%2C%20Campus%20de%20Gualtar!5e0!3m2!1sen!2spt!4v1623259717218!5m2!1sen!2spt" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>
    <style>
    body {
        background-color: #ADD8E6; 
    }
</style>
{% endblock %}


