{% extends 'layout.html' %}

{% block title %}Sobre Nós{% endblock %}

{% block body %}
<style>
    body {
        background-color: #ADD8E6; 
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>Sobre Nós</h1>
            <p class="lead">Somos uma equipa composta por profissionais dedicados e apaixonados pela tecnologia e inovação, nomeadamente na área da Engenharia Biomédica.</p>
            <p>O nosso principal objetivo é fornecer soluções avançadas que melhorem a qualidade de vida das pessoas, através da utilização das últimas tecnologias em PLN e outras áreas da Engenharia Biomédica.</p>
            <p>Com uma equipa composta por três Engenheiros Biomédicos, trabalhamos em conjunto para criar produtos e serviços que atendam às necessidades dos nossos clientes e parceiros.</p>
        </div>
        <div class="col-md-6">
            <img src="/static/imagens/equipa.jpg" class="img-fluid rounded custom-img-large float-md-end" style="width: 110%;" alt="Nossa equipe">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <h2>Missão</h2>
            <p>Promover o bem-estar e a saúde através de inovações tecnológicas na área, fornecendo soluções eficientes e acessíveis.</p>
        </div>
        <div class="col-md-4">
            <h2>Visão</h2>
            <p>Ser referência mundial em inovação tecnológica na Engenharia Biomédica, reconhecida pela excelência e impacto positivo na sociedade.</p>
        </div>
        <div class="col-md-4">
            <h2>Valores</h2>
            <ul>
                <li>Inovação</li>
                <li>Qualidade</li>
                <li>Integridade</li>
                <li>Compromisso com o cliente</li>
                <li>Trabalho em equipa</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}


